@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Concert One", cursive;
  box-sizing: border-box;
}

.coup-container {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* background: bisque; */
}

#coup-title {
  display: flex;
  font-size: 30px;
  width: 100%;
  height: 10vh;
  padding: 30px;
  color: #41046f;
  /* border-bottom: solid 15px #41046f; */
  text-align: justify;
  padding: 10px;
  font-family: "Concert One", cursive;
}

h3 {
  font-family: "Concert One", cursive;
  text-align: center    ;
  font-weight: 900;
  font-size: 25px;
  padding: 10px;
  color: #41046f;
}
.scn,
.histart,
.ludiv
{
  flex-direction: column;
  line-height: 25px;
  list-style: none;
  flex-wrap: wrap;
  padding: 10px;
  width: 50vh;
}

.scn,
.art-litt,
.ludik,
.history,
.divers {
    background: bisque;
    border-radius: 3px;
    margin: 20px;
    padding: 10px;
    box-shadow: 1px 2px 2px 4px cadetblue;
}


.cdc {
  list-style: none;
  text-decoration: none;
}

.cdc a:hover {
  /* background: #41046f; */
  transition: 0.5s;
  box-shadow: 1px 1px 5px #4d4b48;
  color: #41046f;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 900;
}
